#MB50{
  left: 0;
  top: 0;
}
#MB0{
  left: 50;
  top: 0;
}
#MB1{
  left: 100;
  top: 0;
}
#MB2{
  left: 150;
  top: 0;
}
#MB3{
  left: 200;
  top: 0;
}
#MB4{
  left: 250;
  top: 0;
}
#MB5{
  left: 300;
  top: 0;
}
#MB6{
  left: 350;
  top: 0;
}
#MB7{
  left: 400;
  top: 0;
}
#MB8{
  left: 450;
  top: 0;
}
#MB9{
  left: 500;
  top: 0;
}
#MB10{
  left: 550;
  top: 0;
}
#MB11{
  left: 600;
  top: 0;
}
#MB12{
  left: 650;
  top: 0;
}
#MB13{
  left: 700;
  top: 0;
}
#MB14{
  left: 750;
  top: 0;
}
#MB15{
  left: 750;
  top: 50;
}
#MB16{
  left: 750;
  top: 100;
}
#MB17{
  left: 750;
  top: 150;
}
#MB18{
  left: 750;
  top: 200;
}

#MB19{
  left: 750;
  top: 250;
}
#MB20{
  left: 750;
  top: 300;
}
#MB21{
  left: 750;
  top: 350;
}
#MB22{
  left: 750;
  top: 400;
}
#MB23{
  left: 750;
  top: 450;
}
#MB24{
  left: 750;
  top: 500;
}
#MB25{
  left: 750;
  top: 550;
}
#MB26{
  left: 700;
  top: 550;
}
#MB27{
  left: 650;
  top: 550;
}
#MB28{
  left: 600;
  top: 550;
}

#MB29{
  left: 550;
  top: 550;
}
#MB30{
  left: 500;
  top: 550;
}
#MB31{
  left: 450;
  top: 550;
}
#MB32{
  left: 400;
  top: 550;
}
#MB33{
  left: 350;
  top: 550;
}
#MB34{
  left: 300;
  top: 550;
}
#MB35{
  left: 250;
  top: 550;
}
#MB36{
  left: 200;
  top: 550;
}
#MB37{
  left: 150;
  top: 550;
}
#MB38{
  left: 100;
  top: 550;
}

#MB39{
  left: 50;
  top: 550;
}
#MB40{
  left: 0;
  top: 550;
}
#MB41{
  left: 0;
  top: 500;
}
#MB42{
  left: 0;
  top: 450;
}
#MB43{
  left: 0;
  top: 400;
}
#MB44{
  left: 0;
  top: 350;
}
#MB45{
  left: 0;
  top: 300;
}
#MB46{
  left: 0;
  top: 250;
}
#MB47{
  left: 0;
  top: 200;
}
#MB48{
  left: 0;
  top: 150;
}
#MB49{
  left: 0;
  top: 100;
}
#MB50{
  left: 0;
  top: 0;
}
#rank1{
  left: 75;
  top: 250;
}
#rank2{
  left: 75;
  top: 325;
}
#rank3{
  left: 75;
  top: 400;
}
#rank4{
  left: 75;
  top: 475;
}

#rank5{
  left: 243;
  top: 250;
}
#rank6{
  left: 243;
  top: 325;
}
#rank7{
  left: 243;
  top: 400;
}
#rank8{
  left: 243;
  top: 475;
}

#rank9{
  left: 411;
  top: 250;
}
#rank10{
  left: 411;
  top: 325;
}
#rank11{
  left: 411;
  top: 400;
}
#rank12{
  left: 411;
  top: 475;
}

#rank13{
  left: 579;
  top: 250;
}
#rank14{
  left: 579;
  top: 325;
}
#rank15{
  left: 579;
  top: 400;
}
#rank16{
  left: 579;
  top: 475;
}
